@import "tailwindcss";

:root {
  --background: #003c63;
  --foreground: #ffffff;
  --bg: #003c63;
  --primary: #0077b6;
  --accent: #ffd43b;
  --text: #f8f9fa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--bg);
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .fade-up {
    @apply opacity-0 translate-y-4 transition-all duration-700 ease-out;
  }

  .fade-up-active {
    @apply opacity-100 translate-y-0;
  }
}
