@import "tailwindcss";

:root {
  --background: #003c63;
  --foreground: #ffffff;
  --bg: #003c63;
  --primary: #0077b6;
  --accent: #ffd43b;
  --text: #f8f9fa;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--bg);
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .fade-up {
    opacity: 0;
    transform: translateY(1rem);
    transition-property: all;
    transition-duration: 700ms;
    transition-timing-function: ease-out;
  }

  .fade-up-active {
    opacity: 1;
    transform: translateY(0);
  }
}
